<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置默认指向的数据库-->
    <environments default="dev">
        <!--配置环境，不同的环境，不同的ID名字-->
        <environment id="dev">
            <!--采用JDBC方式对数据库事物进行commit/rollback-->
            <transactionManager type="JDBC"></transactionManager>
            <!--采用连接池方式(POLLED)管理数据库连接-->
            <dataSource type="POLLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/babytun?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="Aa123456"/>
            </dataSource>
        </environment>
        <environment id="prd">
            <!--采用JDBC方式对数据库事物进行commit/rollback-->
            <transactionManager type="JDBC"></transactionManager>
            <!--采用连接池方式(POLLED)管理数据库连接-->
            <dataSource type="POLLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.1.1:3306/babytun?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="Aa123456"/>
            </dataSource>
        </environment>
    </environments>
</configuration>